/* Стили для текста */
.text {
    -fx-text-fill: "#7289da"; /* Исправлено свойство, вместо -fx-color */
    -fx-font-size: 16px; /* Исправлено свойство для размера шрифта */
    -fx-font-family:  "Open Sans", sans-serif;

}

/* Стили для Spinner */
.pencil-size-spinner {

    -fx-background-radius: 5;
    -fx-padding: 5;
}

/* Стили для кнопки стрелки вниз */
.show-slider-button {
    -fx-background-color: green;
    -fx-background-radius: 50%;
    -fx-pref-width: 5px;
    -fx-pref-height: 5px;
    -fx-text-fill: white;
    -fx-font-size: 5px;
}

/* Стили для ползунка */
.size-slider {

    -fx-padding: 5;
    -fx-pref-width: 120px;
    -fx-max-width: 120px;
}

/* Убираем стрелки у Spinner */
.pencil-size-spinner .increment-button,
.pencil-size-spinner .decrement-button {
    -fx-background-color: transparent;  /* Убираем фон */
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;  /* Убираем границу */
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

/* Убираем стрелки */


.menu-bar{
 -fx-background-color: #37393f;
}


.text-field-stack {
    -fx-alignment: center-right;
}

.text-field {
    -fx-background-radius: 5;
    -fx-padding: 2 20 2 5;
    -fx-cursor: hand;
}

.arrow-icon {
    -fx-translate-x: 55;
    -fx-cursor: hand;
    -fx-opacity: 0.6;

}

.slider-pane {
    -fx-padding: 5;
    -fx-border-color: gray;
    -fx-border-radius: 5;
}
